

*{
    font-family: Arial, Helvetica, sans-serif;

    text-align: center;

    font-size: 18px;

    color: #ffffff;
}

body{
    background: #001122
}

.flex-container{
    display: flex;

    justify-content: center;
}

#canvas-box{
    position: relative;

    width: 1200px;

    height: 675px;

    cursor: pointer;
}

.canvas-group{
    position: absolute;

    left: 0px;

    right: 0px;
}

h1{
    font-size: 36px;
}

#overlay-canvas{
    z-index: 10;
}