

*{
    font-family: Arial, Helvetica, sans-serif;

    text-align: center;

    font-size: 18px;

    color: #ffffff;
}

body{
    background: #001122
}

.flex-container{
    display: flex;

    justify-content: center;
}

#canvas-box{
    position: relative;

    width: 1200px;

    height: 675px;

    cursor: pointer;

    margin-bottom: 30px;
}

.canvas-group{
    position: absolute;

    left: 0px;

    right: 0px;
}

h1{
    font-size: 36px;
}

#overlay-canvas{
    z-index: 10;
}

.button{
    
    background: #66ff00;
    color: #ffffff;

    border-radius: 5px;

    padding: 10px;

    cursor: pointer;
}

input{
    border: 0;
    border-radius: 10px;

    color: #001122;

    height: 20px;

    width: 60px;

    text-align: right;

    padding-right: 10px;

    padding-top: 1px;

    padding-bottom: 0px;
}

.input-holder{
    display: flex;

    justify-content: space-around;

    background: #662299;

    padding: 3px;

    border-radius: 13px;

    height: 22px;

    align-items: center;
}

.p-input{
    
    height: 20px;

    margin: 0px;

    margin-left: 5px;

    margin-right: 5px;

    font-size: 15px;

    padding-top: 1px;
}

#button-holder{
    align-items: center;

    justify-content: space-between;
}

#speed-holder{
    background: #cc8811
}

#coordinates{
    color: #aaffff;
    position: absolute;
    left: 0;
    top: -28px;
    font-size: 12px;
}

#controls1{
    color: #aaffff;
    position: absolute;
    left:0;
    bottom: -28px;
    font-size: 12px;
}

#controls2{
    color: #aaffff;
    position: absolute;
    right:0;
    bottom: -28px;
    font-size: 12px;
}